.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: 30px;
}

.author {
  font-style: italic;
}

// Show button on it's own line and center it
.random-quote-button mat-form-field {
  width: 250px;
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
}
