<div>
  <!-- Header -->
  <mat-toolbar>
    <span>Quotes</span>
  </mat-toolbar>

  <div class="search-bar">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Search by title..." [(ngModel)]="searchTerm" (keyup.enter)="searchQuotes()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>    
  </div>

  <div class="container">
    <mat-card *ngFor="let quote of quotes | async">
      <mat-card-content>
        {{ quote.quote }}
        <span class="author">{{ quote.author }}</span>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Get a random quote -->
  <div *ngIf="!showRandomQuote" class="random-quote-button">
    
    <mat-form-field appearance="outline">
      <mat-label>Prompt</mat-label>
      <input matInput placeholder="Enter a seed word of phrase" [(ngModel)]="randomPrompt">
    </mat-form-field>
    
    <button mat-raised-button color="primary" 
        (click)="getRandomQuote()">
      Get Random Quote
    </button>
  </div>

  <!-- Get all quotes -->
  <button mat-raised-button color="primary" *ngIf="showRandomQuote" class="random-quote-button"
      (click)="getAllQuotes()">
    Get All Quotes
  </button>
</div>
