.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin: 30px;
}

.author {
  font-style: italic;
}

// Show button on it's own line and center it
.random-quote-button mat-form-field {
  width: 250px;
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
}

.list-item {
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24px;
  position: relative;
  width: 100%;

  .content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 12px 0;
  }

  .leading-element {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: 'DM Sans', sans-serif;
  }

  .title {
    font-size: 16px;
    line-height: 24px;
    color: #1e2021;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    color: #5c6063;
  }

  .divider {
    height: 1px;
    width: 100%;
    background-color: #e0e0e0;
  }
}

.logo {
  height: 40px;
}
