/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

:root {
  --primary-color: #2C67FF;
  --secondary-color: #B4C6E1;
  --accent-color: #86F7B1;
  --text-color: #03174B;
  --neutral-white: #FFFFFF;
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: var(--neutral-white);
  color: var(--text-color);
}

.error-message {
    background-color: lightcoral;
    color: red;
    padding: 20px;
}
